@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&family=VT323&display=swap');

.bg-primary {
    background: #191825;
}

.bg-secondary {
    background: #272538;
}

.bg-accent {
    background: #E384FF;
}

.text-accent {
    color: #ebebe3;
}

.mobile-nav {
    @apply block md:hidden bg-primary fixed top-14 py-2 w-full h-max duration-500;
}
nav li a {
    @apply font-monospace text-white px-4 py-5 text-2xl;
}

p {
    @apply font-sentences; 
}

nav li a:hover {
    color: #7477FF;
}
h1 {
    line-height: 1.5;
    color: #191825;
    font-family: monospace;
}



